.wrap {
  background: #303030;
  border-radius: 15px;
  padding: 15px;
  width: 100%;
  position: relative;
  min-height: 115px;
}

.title {
  text-transform: uppercase;
  font-size: 16px;
}

.value {
  font-weight: 500;
  font-size: 24px;
  min-height: 1.5em;
}

.tooltipWrap {
  position: absolute;
  top: 17px;
  right: 15px;
}

.subValueWrap{
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 1.5em;
}

.btn {
  padding: 0 !important;
  color: #fff !important;
  line-height: initial !important;
  font-weight: 300 !important;
  height: auto !important;
}

.winnerIcon {
  position: absolute;
  right: 7%;
  bottom: -25%;
  max-height: 100px;
  user-select: none;
}